.wprop {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

$relheight: 720 / 1280 * 1200px;


body {
	@extend .wprop;
}

header {
	display: flex;
	background-color: #DEB887;
	div {
		margin: 2%;
		display: flex;
		justify-content: space-between;
		width: 60%;
		div {
		}
	}
}

.greatest {
	display: flex;
	background-image: url("img/trump.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	div {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50vh;
		div {
			display: flex;
			justify-content: center;
			width: 17%;
			text-align: center;
			p{ 
				writing-mode: vertical-lr;
				font-size: 1em;
			}
			h1 {
				font-size: 1em;
			}
		}
	}
}