.wprop {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}


body {
	@extend .wprop;
}

header {
	display: flex;
	background-color: #DEB887;
	div {
		margin: 2%;
		display: flex;
		justify-content: space-between;
		width: 60%;
		div {
		}
	}
}

.greatest {
	height: 700px;
	width: 100%;
	display: flex;
	background-image: url("img/trump.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

	div {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		

		
		div {
			height: 100%;
			width: 50%;

		.donald{
			display: flex;
			justify-content: center;

		}


			
				
			
		}
	}
}